
#banner {
background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
background-repeat: no-repeat;
background-size: cover;
color: white;
font-size: 70px;
font-weight: bold;
font-family: Helvetica;
}

#banner p {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

#process {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

.process_section, .work_team_contact {
  font-size: 23px;
  font-family: Helvetica;
  font-weight: bold;
}

/*paragraph style for process_section and work_team_contact classes*/
.process_section p, .work_team_contact p {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
}

/*Designed in NY banner*/
.designed_in_ny {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

/*footer class and footer links*/
.footer, .footer a {
  font-size: 11px
  font-family: Helvetica;
  color: white;
  background-color: dimgray;
  text-align: left;
  padding-left: 3px
}

/*link color*/
a:link, a:visited, a:hover, a:active {
  color: white;
}

html {
  text-align: center;
}
